@using System.Data
@model DataTable
@{
    String id = "";
    String номер_документа = "";
    String дата_документа = "";
    String дата_перерегистрации = "";
    String дата_окончания = "";
    String коментарий = "";
    if (Model.Rows.Count == 1)
    {
        id = (String)Model.Rows[0]["id"];
        if (Model.Rows[0]["номер_документа"] != DBNull.Value)
            номер_документа = (String)Model.Rows[0]["номер_документа"];
        if (Model.Rows[0]["дата_документа"] != DBNull.Value)
            дата_документа = ((DateTime)Model.Rows[0]["дата_документа"]).ToString("dd.MM.yyyy");
        if (Model.Rows[0]["дата_перерегистрации"] != DBNull.Value)
            дата_перерегистрации = ((DateTime)Model.Rows[0]["дата_перерегистрации"]).ToString("dd.MM.yyyy");
        if (Model.Rows[0]["дата_окончания"] != DBNull.Value)
            дата_окончания = ((DateTime)Model.Rows[0]["дата_окончания"]).ToString("dd.MM.yyyy");
        if (Model.Rows[0]["коментарий"] != DBNull.Value)
            коментарий = (String)Model.Rows[0]["коментарий"];
    }
}
<style type="text/css">
    #views_rd_inf .hidden {
        display: none;
    }

    #views_rd_inf .edit .header {
        padding: 4px;
        text-align: right;
    }

    #views_rd_inf .edit .data {
        border: 1px solid black;
        padding: 2px;
    }

        #views_rd_inf .edit .data input {
            width: 200px;
        }
</style>
<div id="views_rd_inf">
    <input type="button" value="Сохранить" disabled /><br />
    <table>
        <tr class="hidden">
            <td>id</td>
            <td><input type="text" name="id" value="@id" /></td>
        </tr>
        <tr class="edit">
            <td class="header">Номер</td>
            <td class="data"><input type="text" name="номер_документа" value="@номер_документа" /></td>
        </tr>
        <tr class="edit">
            <td class="header">Дата регистрации</td>
            <td class="data"><input type="text" name="дата_документа" value="@дата_документа" /></td>
        </tr>
        <tr class="edit">
            <td class="header">Дата перерегистрации</td>
            <td class="data"><input type="text" name="дата_перерегистрации" value="@дата_перерегистрации" /></td>
        </tr>
        <tr class="edit">
            <td class="header">Дата окончания</td>
            <td class="data"><input type="text" name="дата_окончания" value="@дата_окончания" /></td>
        </tr>
        <tr class="edit">
            <td class="header">Коментарий</td>
            <td class="data"><input type="text" name="коментарий" value="@коментарий" /></td>
        </tr>
    </table>
</div>
<script type="text/javascript">
    var ViewsRdInf = (function () {
        let mainDiv = $('div#views_rd_inf');
        let saveButton = mainDiv.find('input[type="button"]');
        saveButton.click(function () {
            saveButton.prop('disabled', true);
            let data = {
                id: mainDiv.find('input[name="id"]').val(),
                номер_документа: mainDiv.find('input[name="номер_документа"]').val(),
                дата_документа: mainDiv.find('input[name="дата_документа"]').val(),
                дата_перерегистрации: mainDiv.find('input[name="дата_перерегистрации"]').val(),
                дата_окончания: mainDiv.find('input[name="дата_окончания"]').val(),
                коментарий: mainDiv.find('input[name="коментарий"]').val()
            };
            data = Nskd.Json.toString(data);
            alert(data);
            $.post('/rd/test', data, function (data) {
                alert(data);
            });
            //mainDiv.find('input[name="id"]').val();
            mainDiv.find('input[name="номер_документа"]').val('');
            mainDiv.find('input[name="дата_документа"]').val('');
            mainDiv.find('input[name="дата_перерегистрации"]').val('');
            mainDiv.find('input[name="дата_окончания"]').val('');
            mainDiv.find('input[name="коментарий"]').val('');
        });
        mainDiv.find('input[type="text"]').change(function () {
            saveButton.prop('disabled', false);
        });
    })();
</script>